<div>
  <div>
    <!-- <app-info></app-info> -->

    <app-action-bar
      [tool]="tool"
      (toolChange)="setTool($event)"
      (imageUpload)="handleImageUpload($event)"
      (downloadRequest)="handleDownloadClick()"
    ></app-action-bar>

    <div class="draw-container">
      <!-- Your canvas or drawing area -->

      <app-control-panel
        [scale]="scale"
        (zoomChange)="onControlPanelZoom($event)"
        (undoAction)="undo()"
        (redoAction)="redo()"
      ></app-control-panel>
    </div>

    <canvas
      #canvas
      (mousedown)="handleMouseDown($event)"
      (mousemove)="handleMouseMove($event)"
      (mouseup)="handleMouseUp($event)"
    ></canvas>
  </div>
</div>
