<div>
  <div class="card">
    <!-- <app-info></app-info> -->

    <app-action-bar
      [tool]="tool"
      (toolChange)="setTool($event)"
      (imageUpload)="handleImageUpload($event)"
    ></app-action-bar>

    <div class="draw-container">
      <!-- Your canvas or drawing area -->

      <app-control-panel
        [scale]="scale"
        (zoomChange)="onControlPanelZoom($event)"
        (undoAction)="undo()"
        (redoAction)="redo()"
      ></app-control-panel>
    </div>

    <!-- <textarea
    #textArea
    *ngIf="tool === toolText"
    class="text-input"
    [style.font]="24 * scale + 'px sans-serif'"
    style="position: absolute; display: none;"
  ></textarea> -->
    <!-- <textarea
      #textArea
      class="text-input"
      [style.font]="24 * scale + 'px sans-serif'"
    ></textarea> -->

    <canvas
      #canvas
      (mousedown)="handleMouseDown($event)"
      (mousemove)="handleMouseMove($event)"
      (mouseup)="handleMouseUp($event)"
      class="canvas"
    ></canvas>
  </div>
</div>
